</br>
</br>
<form class="proxy" action="proxy/search">
    <textarea name="decklist" rows="10" cols="50">
2    Imperial Siege
4    Stonesculpting
4    Impulsive Plan
4    Mana Ascetic
2    Earthchannel Apprentice
4    Prismatic Leyline
2    Shal’Draen’s Rage
3    Snowfield Mother
2    Tsang Jin, Master of the Jade Sea
2    Ardy, Youthful Geomancer
3    Rylei Wakebreaker
2    Restless Hedonist
3    Scorch
2    Ferrofy
4    Rampant Summit
4    Timber Range
2    Sunlit Highland
3    Wayfarer’s Shrine
4    Forest
4    Mountain

    </textarea>
    </br>
    <input type="submit" value="Submit">
</form>
</br>How to use:
</br>Always check your layout before printing! Check it in the print window, as the display will shift when you go to print.
</br>This site will not warn you if a card of yours can't be found. Please don't mispell cards or use shortened versions of their names
</br>Split cards must be on a row with just split cards, or else they'll screw up the row immediately after them.
</br>For Dual Faced Cards, you need to search for both sides seperately