</br>
</br>
<form class="proxy" action="proxy/search">
    <textarea name="decklist" rows="10" cols="50">
4   Laugar Lotus-Warrior
4   Herald of Oblivion
4   Frenzied Watchkeeper
4   Scorch.
4   Impulsive Plan
4   Stolen Secrets
2   Harriet, Liberated Wildborn
3   Zetla, the Dragon's Voice
3   Chigau, the Red Market
3   Noble's Hedonism
3   Conspiracy of Ravens
4   Roggar's Frenzy
2   Swamp
2   Mountain.
4   Shardstone Rift
4   Timber Range
4   Crumbling Precipice
1   Nomad's Township
1   Rampant Summit


    </textarea>
    </br>
    <input type="submit" value="Submit">
</form>
</br>How to use:
</br>Always check your layout before printing! Check it in the print window, as the display will shift when you go to print.
</br>This site will not warn you if a card of yours can't be found. Please don't mispell cards or use shortened versions of their names
</br>Split cards must be on a row with just split cards, or else they'll screw up the row immediately after them.
</br>For Dual Faced Cards, you need to search for both sides seperately